{% extends "agenda/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<div class="formulario">
	<form  method="post" action="{{ app_path }}">
	{% csrf_token %}
		<table>
			<tr class="formulario-usuario">
    			<td>{{ form.username.label_tag }}</td>
    			<td>{{ form.username }}</td>
			</tr>
			<tr class="formulario-password">
    			<td>{{ form.password.label_tag }}</td>
    			<td>{{ form.password }}</td>
			</tr>
			<tr>
				<td class="boton" colspan="2">
					<input type="submit" value="login" />
				</td>
    
			</tr>

		</table>


		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

{% endblock %}