{% extends "agenda/base.html" %}
 
{% block content %}
{% load agenda_filters %}


<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Información Agenda</div>
        </div>     

        <div style="padding-top:30px; padding-left:50px;padding-right:50px" class="panel-body" >
            <form action="" method="post" role="form">
				{% csrf_token %}
				
				{{ form.non_field_errors }}
				<div class="form-group">
					{{ form.name.errors }}
					<label for="id_name">Nombre:</label>
					{{ form.name | add_class_and_placeholder:"Nombre de la Agenda"}}
				</div>
					
				<div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls" style="text-align:center">
                      <input type="submit" class="btn btn-primary" value="Guardar"/>
                      <button type="button" class="btn btn-primary" onClick="location.href='{%url 'agenda:agenda_list'%}'">Cancelar</button>
                    </div>
                </div>
			</form>
        </div>                     
    </div>  
</div>
{% endblock %}