{% extends "agenda/base.html" %}
 
{% block content %}


{% if agenda_list %}
		<h3>Agendas Disponibles</h3>

		<table class="table table-condensed table-responsive">
			{% for agenda in agenda_list %}
				<tr>
		    		<td>
		    			<a class="btn btn-link" role="button" role="button" href="{%url 'agenda:agenda_detail' agenda.id%}">{{agenda.name}}</a>
		    		</td>
		    		<td>
		    			<form action="{%url 'agenda:contact_list'%}" method="get">
		    				{% csrf_token %}
		    				<input type="hidden" name="agenda_id" value="{{agenda.id}}"/>
		    				<button class="btn btn-default btn-sm" type="submit">Contactos</button>
		    			</form>
		    		</td>
		    		<td align="center">
		    			<form action="{%url 'agenda:agenda_delete' agenda.id%}" method="POST">
		    				{% csrf_token %}
		    				<button class="btn btn-default btn-sm" type="submit">Eliminar</button>
		    			</form>
		    		</td>
		    		<td align="center">
		    			<p>{{agenda.grupo}}</p>
		    		</td>
		    	</tr>
		    {% endfor %}
		</table>

<a class="btn btn-default" role="button" href="/agenda/create">Crear nueva agenda</a>
{% else %}
<div align="center">
    <h2>No hay agendas disponibles.</h2>
</div>
<a class="btn btn-default" role="button" href="/agenda/create">Crear nueva agenda</a>
{% endif %}

{% endblock content %}
