{% extends "agenda/base.html" %}
 
{% block content %}

<div class="pure-u-1">
	<a class="pure-button pure-button-primary" href="/agenda/create">Crear nueva agenda</a>
</div>
{% if agenda_list %}
<div class="pure-g">
	<div class="pure-u-1">
		<h3>Agendas Disponibles</h3>
	</div>

	<div class="pure-u-1">
		<table class="pure-table">
			{% for agenda in agenda_list %}
				<tr>
		    		<td>
		    			<a href="{%url 'agenda:agenda_detail' agenda.id%}">{{agenda.name}}</a>
		    		</td>
		    		<td>
		    			<form action="{%url 'agenda:contact_list'%}" method="get">
		    				{% csrf_token %}
		    				<input type="hidden" name="agenda_id" value="{{agenda.id}}"/>
		    				<button type="submit">Contactos</button>
		    			</form>
		    		</td>
		    		<td align="center">
		    			<form action="{%url 'agenda:agenda_delete' agenda.id%}" method="post">
		    				{% csrf_token %}
		    				<button type="submit">Eliminar</button>
		    			</form>
		    		</td>
		    	</tr>
		    {% endfor %}
		</table>
	</div>
</div>
{% else %}
<div align="center">
    <p>No hay agendas disponibles.</p>
</div>
{% endif %}

{% endblock %}