{% load staticfiles %}{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}Agenda Feliz{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "agenda/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "agenda/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

<!--David Magic ;)-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/pure/0.5.0/pure-min.css"/> -->
<link rel="stylesheet" type="text/css" href="{% static "agenda/css/bootstrap.min.css" %}"/>
<link id="estilos" rel="stylesheet" type="text/css" href="{% static "agenda/css/cover.css" %}"/>


<script language="JavaScript">

hey = function(){
document.getElementById('estilos').setAttribute('href', localStorage.background);
}

window.onload = hey (localStorage.background);

</script>


</head>

{% load i18n %}
<body class="{% if is_popup %}popup {%	 endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="contenedor"class="site-wrapper">
{% if not is_popup %}
      <div class="site-wrapper-inner">
{% block branding %}{% endblock %}
        <div class="cover-container">
<!-- Header -->
{% if user.is_active and user.is_staff %} 
          <div class="masthead clearfix">
            <div class="inner">

	      <img class="masthead-brand" src="{% static "agenda/img/agendaTrans2.png" %}"></img>

		<h1>Agenda Feliz Uniandes </h1>

		<nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                 
		  <li>
			  <div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">personalizar<span class="caret"></span>
			  </button>

			  <ul class="dropdown-menu" role="menu">
			  <li><a href="#" onClick="localStorage.setItem('background','{% static 'agenda/css/cover_amarillo.css' %}');hey()" class="btn">amarillo</a></li>
			  <li><a href="#" onClick="localStorage.setItem('background','{% static 'agenda/css/cover_verde.css' %}');hey()" class="btn">verde</a></li>
			  <li><a href="#" onClick="localStorage.setItem('background','{% static 'agenda/css/cover_rojo.css' %}');hey()" class="btn">rojo</a></li>
			  <li><a href="#" onClick="localStorage.setItem('background','{% static 'agenda/css/cover_azul.css' %}');hey()" class="btn">azul</a></li>
			  </ul>
			  </div>

		  </li>
		  <li> {% block welcome-msg %}
	                {% trans 'Bienvenido,' %}
	                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
	            {% endblock %}</li>
              <li>
                <a href="/logout">salir</a>
              </li>
                </ul>
                </nav>
{% else %}
      <div class="masthead clearfix">
        <div class="inner">
      <H1>Bienvenido</H1>
      <H2>Agenda Uniandes</H2>
{% endif %}

{% block nav-global %}{% endblock %}
            </div>
          </div>

<!-- End Header -->
{% block breadcrumbs %}
{% if title %} &rsaquo; {{ title }}{% endif %}
{% endblock %}


<!-- Content -->
          <div class="inner cover">
            {% if title %} &rsaquo; {{ title }}{% endif %}
{% endif %}
{% block messages %}
{% if messages %}
<ul class="list-group">{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }} list-group-item"{% endif %}>{{ message|capfirst }}</li>
{% endfor %}</ul>
{% endif %}
{% endblock messages %}

{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
{% block content %}
{% block object-tools %}{% endblock %}
{{ content }}
{% endblock content %}
{% block sidebar %}{% endblock %}
          </div>
<!-- End Content -->

<!-- Footerer -->
{% block footer %}
          <div class="mastfoot">
            <div class="inner">
              <p>
<b>Jhony Mauricio Toro Echeverria</b></br>
<b>Hernán Darío Tenjo Mateus</b></br>
<b>Germán David Medina Niño</b></br>
<b>Germán Leonardo Rojas Muñoz</b></br>
<b>Juvenal Elias Barrios</b></br>
	      </p>
            </div>
          </div>
{% endblock %}
<!-- End Footer -->
        </div>
      </div>
    </div>
<!-- END Container -->

<!--Bootstrap js  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static "agenda/js/bootstrap.min.js" %}"></script>

</body>
</html>
