{% load staticfiles %}{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

<!--Ger Magic ;)-->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/pure/0.5.0/pure-min.css"/>
<link rel="stylesheet" type="text/css" href="{% static "agenda/css/general.css" %}"/>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {%	 endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="ger-container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="ger-header-container">
	    <div id="ger-header" class="pure-g">
	        <div class="pure-u-1">
	        {% block branding %}{% endblock %}
	        </div>
	        {% if user.is_active and user.is_staff %}
	        <div class="pure-u-1-8">
	        	<img class="ger-img" src="{% static "agenda/img/logo.png" %}"></img>
	        </div>
	        <div class="pure-u-3-4">
	        	<h1 id="ger-header-title">Mi agenda feliz</h1>
	        </div>
	        <div id="ger-info-user" class="pure-u-1-8">
	            {% block welcome-msg %}
	                {% trans 'Bienvenido,' %}
	                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
	            {% endblock %}
	        </div>
	        
	        {% endif %}
	        {% block nav-global %}{% endblock %}
	    </div>
	</div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
	<div align="right">
    	<a href="/logout">Salir</a>
    </div>
    <div id="ger-content-container" class="{% block coltype %}colM{% endblock %}">
    	<div id="ger-content">
	        {% block pretitle %}{% endblock %}
	        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
	        {% block content %}
	        {% block object-tools %}{% endblock %}
	        {{ content }}
	        {% endblock %}
	        {% block sidebar %}{% endblock %}
	        <br class="clear" />
		</div>
    </div>
    <!-- END Content -->
	 <div class="breadcrumbs"></div>
    {% block footer %}
    	<div id="ger-footer-container">
    		<div id="ger-footer" class="pure-g">
    			<div class="pure-u-1-2">
    				<span>Jhony Mauricio Toro Echeverria</span></br>
    				<span>Hernán Darío Tenjo Mateus</span></br>
    				<span>Germán David Medina Niño</span></br>
    				<span>Germán Leonardo Rojas Muñoz</span></br>
    				<span>Juvenal Elias Barrios</span></br>
    			</div>
    			<div class="pure-u-1-2">
    				
    			</div>
    		</div>
    	</div>
    {% endblock %}
</div>
<!-- END Container -->

</body>
</html>
