{% extends "agenda/base.html" %}
 
{% block content %}

<div>
	<table class="table table-striped table-bordered table-condensed form_table" style="width:50%" align="center">
		<thead>
          <tr>
            <th colspan="4">
            	<div style="display:inline-block;">
            		<h3>Redes Sociales Disponibles</h3>
            	</div>
            	<div style="display:inline-block;float:right;">
					<a href="{%url 'agenda:network_create'%}" style="display:inline;">
						<img border="0" height="40" width="40" alt="Crear nueva red" title="Crear nueva red"
							src="https://cdn2.iconfinder.com/data/icons/Snow/Snow/snow/Add.png">
					</a>
				</div>
            </th>
          </tr>
        </thead>
		{% if network_list %}
		<thead>
          <tr>
            <th>Id</th>
            <th>Tipo Red</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
		
		{% for network in network_list %}
			<tr>
	    		<td style="text-align:center" width="10%">
	    			{{network.id}}
	    		</td>
	    		<td>
	    			<a href="{%url 'agenda:network_detail' network.id%}">{{network.name}}</a>
	    		</td>
	    		<td>
	    			{{network.username}}
	    		</td>
	    		
	    		<td width="20%">
	    			<table align="center">
						<tr>
							<td align="center" style="padding-left:10px">
								<form action="{%url 'agenda:network_delete' network.id%}" method="post">
				    				{% csrf_token %}
				    				<input type="image" src="http://i.stack.imgur.com/GjK9w.gif" height="25px" width="25x" 
				    					alt="Eliminar" title="Eliminar"/>
				    			</form>
							</td>
						</tr>
					</table>
	    		</td>
	    	</tr>
	    {% endfor %}
	    {% else %}
			<tr>
		    	<td>
		    		<p>No hay redes disponibles</p>
		    	</td>
		    </tr>
		{% endif %}
		</tbody>
	</table>
	
	<a href="{%url 'agenda:contact_list'%}">
		<img border="0" height="30" width="30" alt="Volver a Contactos" title="Volver a Contactos"
			src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_back_arrow-32.png">
	</a>
</div>
{% endblock %}