{% extends "agenda/base.html" %}
 
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Información de Red Social</div>
        </div>     

        <div style="padding-top:30px; padding-left:50px;padding-right:50px" class="panel-body" >
        	<dl class="dl-horizontal">
			  	<dt>Red Social:</dt>
			  	<dd>{{network.name}}</dd>
			  	<dt>Usuario:</dt>
				<dd>{{network.username}}</dd>
			</dl>
				
			<div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls" style="text-align:center">
                  <button type="button" class="btn btn-primary" onClick="location.href='{%url 'agenda:network_update' network.id%}'">Actualizar Red</button>
                  <button type="button" class="btn btn-primary" onClick="location.href='{%url 'agenda:network_list'%}'">Volver</button>
                </div>
            </div>
        </div>                     
    </div>
</div>
{% endblock %}