{% extends "agenda/base.html" %}
 
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table align="center">
	<tr>
		<td align="center" colspan="2">
			<h2>Información de contacto</h2>
		</td>
	</tr>
	<tr>
		<td><b>Nombre:</b></td>
		<td>{{contact.first_name}}</td>
	</tr>
	<tr>
		<td><b>Apellido:</b></td>
		<td>{{contact.last_name}}</td>
	</tr>
	<tr>
		<td><b>Empresa:</b></td>
		<td>{{contact.company_name}}</td>
	</tr>
</table>
<br>
<br>
<div align="center">
<a href="{%url 'agenda:contact_update' contact.id%}">Actualizar Contacto</a> | 
<a href="{%url 'agenda:contact_list'%}">Volver</a>
</div>

{% endblock %}