{% extends "agenda/base.html" %}
 
{% block content %}

<div>
	<table class="table table-striped table-bordered table-condensed form_table" style="width:50%" align="center">
		<thead>
          <tr>
            <th colspan="3">
            	<div style="display:inline-block;">
            		<h3>Contactos Disponibles</h3>
            	</div>
            	<div style="display:inline-block;float:right;">
					<a href="{%url 'agenda:contact_create'%}" style="display:inline;">
						<img border="0" height="40" width="40" alt="Crear nuevo contacto" title="Crear nuevo contacto"
							src="https://cdn2.iconfinder.com/data/icons/Snow/Snow/snow/Add.png">
					</a>
				</div>
            </th>
          </tr>
          <tr>
          	<td colspan="3">
	          	<form action="{%url 'agenda:contact_search'%}" method="get" role="form">
                    <div class="form-group" style="text-align:center">
                    	<input type="text" name="contactFilter" value="{{contactFilter}}" 
							placeholder="Buscar contacto" size="50" style="color:#7F7F7F;"/>
                      	<input type="submit" class="btn btn-default btn-xs" value="Filtrar"/>
                    </div>
				</form>
			</td>
          </tr>
        </thead>
		{% if contact_list %}
		<thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
        
		{% for contact in contact_list %}
			<tr>
	    		<td style="text-align:center" width="10%">
	    			{{contact.id}}
	    		</td>
	    		<td>
	    			<a href="{%url 'agenda:contact_detail' contact.id%}">{{contact.first_name}} {{contact.last_name}}</a>
	    		</td>
	    		<td width="20%">
	    			<table align="center">
						<tr>
							<td align="center" style="padding-left:10px">
								<form action="{%url 'agenda:localization_list'%}" method="get">
				    				{% csrf_token %}
				    				<input type="hidden" name="contact_id" value="{{contact.id}}"/>
				    				<input type="image" alt="Localizaciones" title="Localizaciones" height="30px" width="30px"
				    					src="https://cdn2.iconfinder.com/data/icons/flat-seo-web-ikooni/128/flat_seo2-11-32.png"/>
				    			</form>
							</td>
							<td align="center" style="padding-left:10px">
								<form action="{%url 'agenda:network_list'%}" method="get">
				    				{% csrf_token %}
				    				<input type="hidden" name="contact_id" value="{{contact.id}}"/>
				    				<input type="image" alt="Redes Sociales" title="Redes Sociales" height="25px" width="25px"
				    					src="https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/facebook-32.png"/>
				    			</form>
							</td>
							<td align="center" style="padding-left:10px">
								<form action="{%url 'agenda:contact_delete' contact.id%}" method="post">
				    				{% csrf_token %}
				    				<input type="image" src="http://i.stack.imgur.com/GjK9w.gif" height="25px" width="25x" 
				    					alt="Eliminar" title="Eliminar"/>
				    			</form>
							</td>
						</tr>
					</table>
	    		</td>
	    	</tr>
	    {% endfor %}
	    {% else %}
			<tr>
		    	<td>
		    		<p>No hay contactos disponibles.</p>
		    	</td>
		    </tr>
		{% endif %}
		</tbody>
	</table>
	
	<a href="{%url 'agenda:agenda_list'%}">
		<img border="0" height="30" width="30" alt="Volver a Agendas" title="Volver a Agendas"
			src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_back_arrow-32.png">
	</a>
</div>
{% endblock %}