{% extends "agenda/base.html" %}
 
{% block content %}

<div class="pure-u-1">
	<a class="pure-button pure-button-primary" href="{%url 'agenda:contact_create'%}">Crear nuevo contacto</a>
</div>
{% if contact_list %}
<div class="pure-g">

	<div class="pure-u-1">
		<h3>Agenda de Contactos</h3>
		<form class="pure-form" action="{%url 'agenda:contact_search'%}" method="get">
			<input type="text" placeholder="Buscar contacto" name="contactFilter" value="{{contactFilter}}"/>
			<button class="pure-button pure-button-primary" type="submit">Filtrar</Button>
		</form>
	</div>

	<div class="pure-u-1">
		<table class="pure-table">
			{% for contact in contact_list %}
				<tr>
		    		<td>
		    			<a href="{%url 'agenda:contact_detail' contact.id%}">{{contact.first_name}} {{contact.last_name}}</a>
		    		</td>
		    		<td align="center">
		    			<form action="{%url 'agenda:localization_list'%}" method="get">
		    				{% csrf_token %}
		    				<input type="hidden" name="contact_id" value="{{contact.id}}"/>
		    				<button type="submit">Localizaciones</button>
		    			</form>
		    			<form action="{%url 'agenda:network_list'%}" method="get">
		    				{% csrf_token %}
		    				<input type="hidden" name="contact_id" value="{{contact.id}}"/>
		    				<button type="submit">Redes Sociales</button>
		    			</form>
		    			<form action="{%url 'agenda:contact_delete' contact.id%}" method="post">
		    				{% csrf_token %}
		    				<button type="submit">Eliminar</button>
		    			</form>
		    		</td>
		    	</tr>
		    {% endfor %}
		</table>
	</div>
</div>
{% else %}
<div align="center">
    <p>No hay contactos disponibles.</p>
</div>
{% endif %}
<a href="{%url 'agenda:agenda_list'%}">Volver a Agendas</a>
{% endblock %}