{% extends "agenda/base.html" %}
 
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Información de Localización</div>
        </div>     

        <div style="padding-top:30px; padding-left:50px;padding-right:50px" class="panel-body" >
        	<dl class="dl-horizontal">
			  	<dt>Nombre:</dt>
			  	<dd>{{localization.name}}</dd>
			  	<dt>Teléfono 1:</dt>
				<dd>{{localization.phone1}}</dd>
				<dt>Teléfono 2:</dt>
				<dd>{{localization.phone2}}</dd>
				<dt>Dirección 1:</dt>
				<dd>{{localization.address1}}</dd>
				<dt>Dirección 2:</dt>
				<dd>{{localization.address2}}</dd>
				<dt>Email 1:</dt>
				<dd>{{localization.email1}}</dd>
				<dt>Email 1:</dt>
				<dd>{{localization.email2}}</dd>
			</dl>
				
			<div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls" style="text-align:center">
                  <button type="button" class="btn btn-primary" onClick="location.href='{%url 'agenda:localization_update' localization.id%}'">Actualizar Localización</button>
                  <button type="button" class="btn btn-primary" onClick="location.href='{%url 'agenda:localization_list'%}'">Volver</button>
                </div>
            </div>
        </div>                     
    </div>
</div>
{% endblock %}