p, h1, h2, h3, b, td, div{
	text-shadow: 1px 1px #000;
	color: #FFF;
}
a, a:link, a:visited{
	color: #000;
	text-shadow: none;
}
a:hover{
	text-shadow: 1px 1px #000;
}
.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
	background-color: #0078e7;
	color: #fff;
}
h1{
	font-size: 4em;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 2.5em;
}
.ger-img {
	width: 100%;
}
#ger-info-user {
	text-align: right;
}
#ger-header-container, #ger-footer-container{
	background: url('/static/agenda/img/wood_background.jpg');
	padding: 1em;
}
#ger-content-container{
	min-height: 45em;
	padding: 1em;
	background: #a90329; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#ger-header-title{
	text-align: center;
}
.ger-table{
	background: #FFFFFF;
}


